<div class="Welcome">
    <h1 class="welcomeMsg"> Welcome To BlogMe </h1>
</div>
<img src="/img/blog-2355.jpeg" alt="" class="welcomeImg" width="960" height="639">

<section class="posts">
    <h2 class="postsHead"> Latest Posts </h2>
    <ul class="postUl">
        <li>
            <a href="#">
                <span> Post Title </span>
                <span class="postTitleDate"> Date </span>
            </a>
        </li>
    </ul>
    <a href="#" class="pagination">&lt; View Older Posts</a>


</section>
